// GLOBAL RESET
* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 62.5% * 16px = 10px

  @include respond(until, 1200px) {
    font-size: 56.25%; // 1rem = 9px; 9px / 16 = 56.25%
  }

  @include respond(until, 900px) {
    font-size: 50%; // 1rem = 8px; 8px / 16 = 50%
  }

  @include respond(from, 1800px) {
    font-size: 75%; // 1rem = 12px, 12px / 16 = 75%
  }
}