// Bottom margin helpers
.h-margin-bottom-small {
  margin-bottom: 1rem;
}

.h-margin-bottom-big {
  margin-bottom: 2rem;
}

// Text color helpers
.h-color-dark {
  color: $blueGrey-2;
}

.h-color-lightest-bluegrey {
  color: $blueGrey-9;
}

.h-color-lightest-blue {
  color: $blue-9;
}