.body {
    @include nunito-regular;
    font-size: 1.4rem;
}

.heading-primary {
    @include roboto-black;
    font-size: 4.8rem;
    color: $dark-blue;
    line-height: 1.125;
}

.heading-secondary {
    @include nunito-regular;
    font-size: 3.2rem;
    color: $dark-blue;
}