// Defaults typography styles
.body {
  @include nunito-regular;
  font-size: 1.8rem;
  color: $blueGrey-3;
  line-height: 1.6;
}

// Headings
.heading-primary {
  font-size: 4.8rem;
  line-height: 1.125;

  @include respond(until, 1000px) {
    font-size: 4rem;
  }

  &--regular {
    @include roboto-regular;
  }

  &--black {
    @include roboto-black;
  }

}

.heading-secondary {
  @include nunito-regular;
  font-size: 3.2rem;

  &--bold {
    @extend .heading-secondary;
    @include nunito-bold;
  }
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  @include nunito-regular;

  &--bold {
    @extend .heading-tertiary;
    @include nunito-bold;
  }
}

// Paragraphs
.paragraph {
  &:not(:last-child) {
    margin-bottom: .6rem;
  }

  &--emphasized {
    @extend .paragraph;
    @include nunito-semiBold;
  }
}

.link,
.link:link,
.link:visited {
  @include nunito-bold;
  text-decoration: none;
  color: $blue-2;

  &:hover {
    color: $yellow-2;
  }
}