/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number)=='number'and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Media query manager
@mixin respond($direction, $breakpoint-px) {
  $feature: null;

  @if $direction==until {
    $feature: max-width;
  }

  @else if $direction==from {
    $feature: min-width;
  }

  $breakpoint-em: #{strip-unit($breakpoint-px) / 16}em;

  @media only screen and ($feature: $breakpoint-em) {
    @content;
  }
}

/* Clearfix for float positioning */
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Fonts family + weight */
@mixin roboto-regular {
  font-family: $roboto;
  font-weight: 400;
}

@mixin roboto-black {
  font-family: $roboto;
  font-weight: 900;
}

@mixin nunito-regular {
  font-family: $nunito;
  font-weight: 400;
}

@mixin nunito-lightItalic {
  font-family: $nunito;
  font-weight: 400;
  font-style: italic;
}

@mixin nunito-semiBold {
  font-family: $nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $nunito;
  font-weight: 700;
}

// Moving background on projects hover
@mixin projects-moving-background($color-1, $color-0) {
  background-image: linear-gradient(120deg,
      $blue-2 0,
      $blue-4 50%,
      $color-0 50%,
      $color-1 100%);
  background-size: 260%;

  &:hover,
  &:focus {
    background-position: 100%;
  }
}