/* Fonts family + weight */
@mixin roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

@mixin roboto-black {
  font-family: $roboto;
  font-weight: 900;
}

@mixin nunito-regular {
  font-family: $nunito;
  font-weight: 400;
}

@mixin nunito-semiBold {
  font-family: $nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $nunito;
  font-weight: 700;
}

// Moving background on projects hover
@mixin projects-moving-background($color, $hover-color) {
  background-image: linear-gradient(120deg,
      $color 0,
      $color 50%,
      $hover-color 50%);
  background-size: 250%;

  &:hover {
    background-position: 100%;
  }
}