/* Fonts family + weight */
@mixin roboto-medium {
  font-family: $roboto;
  font-weight: 500;
}

@mixin roboto-black {
  font-family: $roboto;
  font-weight: 900;
}

@mixin nunito-regular {
  font-family: $nunito;
  font-weight: 400;
}

@mixin nunito-semiBold {
  font-family: $nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $nunito;
  font-weight: 700;
}