/* Colors */

// Primary colors
$blue-0: hsl(205, 100%, 21%);
$blue-1: hsl(205, 87%, 29%);
$blue-2: hsl(205, 82%, 33%);
$blue-3: hsl(205, 76%, 39%);
$blue-4: hsl(205, 67%, 45%);
$blue-5: hsl(205, 65%, 55%);
$blue-6: hsl(205, 74%, 65%);
$blue-7: hsl(205, 84%, 74%);
$blue-8: hsl(205, 97%, 85%);
$blue-9: hsl(205, 79%, 92%);

$yellow-0: hsl(15, 86%, 30%);
$yellow-1:hsl(22, 82%, 39%);
$yellow-2:hsl(29, 80%, 44%);
$yellow-3:hsl(36, 77%, 49%);
$yellow-4:hsl(42, 87%, 55%);
$yellow-5:hsl(44, 92%, 63%);
$yellow-6:hsl(48, 94%, 68%);
$yellow-7:hsl(48, 95%, 76%);
$yellow-8:hsl(48, 100%, 88%);
$yellow-9:hsl(49, 100%, 96%);

// Neutral colors
$blueGrey-0: hsl(209, 61%, 16%);
$blueGrey-1: hsl(211, 39%, 23%);
$blueGrey-2: hsl(209, 34%, 30%);
$blueGrey-3: hsl(209, 28%, 39%);
$blueGrey-4: hsl(210, 22%, 49%);
$blueGrey-5: hsl(209, 23%, 60%);
$blueGrey-6: hsl(211, 27%, 70%);
$blueGrey-7: hsl(210, 31%, 80%);
$blueGrey-8: hsl(212, 33%, 89%);
$blueGrey-9: hsl(210, 36%, 96%);

/* Fonts */
$roboto: "Roboto",
sans-serif;
$nunito: "Nunito",
sans-serif;