.hero {
  display: grid;
  grid-template-columns: 14rem 1fr 4rem 1fr 14rem;
  grid-template-areas:
    ".    text .    illu .   "
    "bott bott bott bott bott";
  align-items: center;
  row-gap: 1.8rem;

  padding-top: 6.2rem;
  background: linear-gradient(to bottom, $white-blue, $light-blue);

  &__text {
    grid-area: text;
  }

  &__illustration {
    grid-area: illu;

    & > img {
      width: 100%;
    }
  }

  &__bottom {
    grid-area: bott;

    transform: translateY(1rem);
  }
}

.react {
  display: grid;
  grid-template-columns: 14rem 1fr 4rem 1fr 14rem;
  grid-template-areas: ". illu . text .";
  align-items: center;

  padding-top: 1.8rem;

  &__illustration {
    grid-area: illu;

    & > img {
      width: 100%;
    }
  }

  &__text {
    grid-area: text;
  }
}

.sass {
  display: grid;
  grid-template-columns: 14rem 1fr 4rem 1fr 14rem;
  grid-template-areas: ". text . illu .";

  &__illustration {
    grid-area: illu;

    & > img {
      width: 100%;
    }
  }

  &__text {
    grid-area: text;
  }
}
