.header {
  // background: url(../assets/noise.png), radial-gradient(circle at top right, #0f0c29, #302b63, #24243e);

  display: flex;
  justify-content: center;
  align-items: center;

  &__illustration {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 57.4561403509%;
    vertical-align: middle;
    overflow: hidden;
    & > svg {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__laptop {
  }

  &__phone {
  }
}
