.header {
  display: grid;
  grid-template-columns: 14rem 1fr 4rem 1fr 14rem;
  align-items: center;
  row-gap: 1.8rem;
  grid-template-areas:
    ".    text .    illu .   "
    "bott bott bott bott bott";

  padding-top: 6rem;

  background: linear-gradient(to bottom,
      rgba($white-blue, 0.95),
      rgba($light-blue, 0.95));

  &__text {
    grid-area: text;
  }

  &__illustration {
    grid-area: illu;
  }

  &__bottom {
    grid-area: bott;

    transform: translateY(0.5rem);
  }
}