.header {
  display: grid;
  grid-template-columns: 14rem 1fr 4rem 1fr 14rem;
  align-items: center;
  row-gap: 1.8rem;

  padding-top: 6rem;

  background: linear-gradient(to bottom, rgba($white-blue, 0.95), rgba($light-blue, 0.95));

  &__text {
    grid-column: 2 / 3;
  }

  &__illustration {
    grid-column: 4 / 5;
  }

  &__laptop {
    animation: laptop 12s linear infinite;
    will-change: transform;
  }

  &__phone {
    animation: phone 8s linear infinite;
    will-change: transform;
  }

  &__bottom {
    grid-row: 2 / 3;
    grid-column: 1 / 6;

    transform: translateY(0.5rem);
  }
}